<div class="content">
  <h1>TIC TAC TOE <br> GAME</h1>
  <h3>LOGIN</h3>
  <p>Enter User Name</p>
  <input type="text" value="user" #usernameLogin/>
  <p>Enter Password</p>
  <input type="text" value="user123" #passwordLogin/>
  <button
    (click)="submitLoginClicked(usernameLogin.value, passwordLogin.value)"
  >
    LOGIN
  </button>
  <p *ngIf="status === 'invalidCredentials'">Invalid Credentials</p>
  <p *ngIf="status === 'networkErr'">Something went wrong!</p>
  <p *ngIf="status === 'validationErr'">Name or password can not be empty!</p>
  <h3>REGISTER</h3>
  <p>Enter User Name</p>
  <input type="text" value="user2" #usernameRegister/>
  <p>Enter Password</p>
  <input type="text" value="user123" #passwordRegister/>
  <br/>
  <button
    (click)="
      submitRegisterClicked(usernameRegister.value, passwordRegister.value)
    "
  >
    REGISTER
  </button>
  <p *ngIf="status === 'welcome'">
    Welcome new user! <br/>
    Now you can log in!
  </p>
  <p *ngIf="status === 'duplicate'">Username already in use!</p>
</div>
