<div class="content">
    <h1>LOGIN</h1>
    <p>Enter User Name</p>
    <input type="text" value="user" #usernameLogin />
    <p>Enter Password</p>
    <input type="text" value="user123" #passwordLogin />
    <br />
    <button (click)="submitLoginClicked(usernameLogin.value, passwordLogin.value)" class="btn btn-primary">
      LOGIN
    </button>
    <p *ngIf="status === 'invalidCredentials'">Invalid Credentials</p>
    <p *ngIf="status === 'networkErr'">Something went wrong!</p>
    <p *ngIf="status === 'validationErr'">Name or password can not be empty!</p>
    <br />
    <h1>REGISTER</h1>
    <p>Enter User Name</p>
    <input type="text" value="user2" #usernameRegister />
    <p>Enter Password</p>
    <input type="text" value="user123" #passwordRegister />
    <br />
    <button (click)="submitRegisterClicked(usernameRegister.value, passwordRegister.value)" class="btn btn-primary">
      REGISTER
    </button>
    <p *ngIf="status === 'welcome'">Welcome new user! <br> Now you can log in!</p>
    <p *ngIf="status === 'duplicate'">Username already in use!</p>
</div>