<div class="content">
  <h1>{{ gameService.currentPlayer$ | async }} TURN |||| YOUR PAWN: --> {{ gameService.playerPawn }}</h1>
  <div class="grid-container" *ngIf="gameService.gameBoard$ | async as board">
    <div *ngFor="let row of gameSizeArray" style="display: flex">
      <div *ngFor="let column of gameSizeArray">
        <button
          style="width: 50px; height: 50px"
          (click)="cellClicked(row, column)"
        >
          {{ board[row * gameSizeArray.length + column] }}
        </button>
      </div>
    </div>
  </div>
</div>
